<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goblin Music</title>
    <link rel="shortcut icon" href="../static/all/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/all/css/setting.css">
    <link rel="stylesheet" href="../static/music/css/APlayer.min.css">
    <link rel="stylesheet" href="../static/music/css/style.css">
</head>

<body>
    <div id="app">
        <div class="landing">
            <h1>Goblin</h1>

            <h3>Keep the good with light and shadow.</h3>

            <div class="aplayer-wrap" id="aplayer"></div>

            <div class="landing-buttons">
                <a class="landing-button" id="background">背景图案</a>
            </div>


        </div>
    </div>
    <script src="../static/all/js/jquery.min.js"></script>
    <script src="../static/music/js/APlayer.min.js"></script>
    <script id="ribbon" src="../static/music/js/canvas-ribbon.min.js"></script>
    <script src="../static/music/js/music.js"></script>
</body>

</html>