<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Goblin Studio</title>
    <link href="../static/all/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/all/css/setting.css">
    <link rel="stylesheet" href="../static/all/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/all/css/font-awesome.css">
    <link rel="stylesheet" href="../static/all/css/noticejs.css">

    <link rel="stylesheet" href="../static/studio/css/slick.css">
    <link rel="stylesheet" href="../static/studio/css/style.css">

    <body>
        <main id="eskimo-main-container">
            <div class="container">
                <div style="width: 100%;padding:0 95px 0px 95px">
                    <div class="title" style="height: auto;position: relative;margin: auto;top: 0px;">
                        <div style="width: 340px;margin: auto;">
                            <a href="home.html"><img src="../static/all/img/goblin.png" style="float: left;width: 150px;">
                                <h1 style="line-height: 1.5;font-family: ziti;">摄影团队</h1>
                            </a>
                        </div>
                    </div>
                    <div style="margin-top: 300px;margin: auto;font-size: 25px;font-family: ziti;">
                        用镜头记录生活，用光影留住美好。
                    </div>
                </div>
                <div id="eskimo-social-inner">
                    <ul class="eskimo-top-icons">
                        <li id="eskimo-search-icon">
                            <a id="eskimo-open-search" href="#"><i class="fa fa-search"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            </div>

            <div id="postcard" style="margin-top: 40px;">
            </div>

            <footer style="min-height: 40px;margin:0px;padding: 10px; width: 100%;text-align: center;">
                <span style="color: gray;">copyright &copy; goblin 2020</span>
            </footer>

            <!-- FULLSCREEN SEARCH -->
            <div id="eskimo-fullscreen-search">
                <div id="eskimo-fullscreen-search-content">
                    <a href="" id="eskimo-close-search"><i class="fa fa-times"></i></a>
                    <form role="search" class="eskimo-lg-form">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="搜索摄影工作室" name="s" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>


    <script src="../static/all/js/jquery.min.js"></script>
    <script src="../static/all/js/bootstrap.min.js"></script>
    <script src="../static/all/js/notice.js"></script>
    <script src="../static/all/js/all.js"></script>

    <script src="../static/studio/js/slick.min.js"></script>
    <script src="../static/studio/js/custom.js"></script>
    <script src="../static/studio/js/studio.js"></script>

</html>